#big {
    width: 385px;
    height: 530px;
    background: #4285F4;
    overflow: hidden;
   }

   #big #first {
       position: relative;
       width: 350px;
       height: 125px;
       margin: auto;
       margin-top: 15px;
       background: #E67676;
    }
    #big #second {
        position: relative;
        width: 350px;
        height: 125px;
        margin:auto;
        margin-top: 0px;
        background: #F2F062;
  
    }
    #big #third {
        position: relative;
        width: 350px;
        margin:auto;
        margin-top: 0px;
        height: 125px;
        background: #A9E6E6;
     }

    #big #fourth {
        position: relative;
        width: 350px;
        height: 125px;
        margin:auto;
        margin-top: 0px;
        background: #7692E4;
     }

  p {
    position: absolute;
    bottom: 50px;
    right: 150px;
    padding: 0;
    margin: 0px;
    color: white;
    text-align: center;
    font-size: 36px


}
